<button class="docs-btn" {{action "add"}}>Add</button>
<button class="docs-btn" {{action "remove"}}>Remove Last</button>
<button class="docs-btn" {{action "change"}}>Change Last</button>

{{yield spec data}}