<div class="example">
    {{vega-vis
        vis=vis
        data=data
        spec=spec
        events=(hash
            click=(action "clickEventHandler")
        )
        signalEvents=(hash
            width=(action "widthSignalHandler")
        )
        onParseError=(action "parseError")
    }}
</div>

{{outlet}}
