<div class="example">
    {{vega-vis
        vis=vis
        data=data
        spec=spec
        events=(hash
            click=(action "clickEventHandler")
        )
        signalEvents=(hash
            width=(action "widthSignalHandler")
        )
        onParseError=(action "parseError")
        onNewVis=(action "newVis")
    }}
</div>

<ul>
    <li>Clicked Count: {{clickCount}}</li>
    <li>Width Signal: {{widthSignal}}</li>
</ul>

{{outlet}}
